# Test

In [1]:
print("test")

test

In [ ]:
i

In [2]:
import pandas as pd
data = {
    "Annee": range(2010,2020),
    "Ventes": [5,0,9,32,6,8,10,7,3,10]
}

df = pd.DataFrame(data)
df.head()

   Annee  Ventes
0   2010       5
1   2011       0
2   2012       9
3   2013      32
4   2014       6

In [3]:
df.describe()

            Annee     Ventes
count    10.00000  10.000000
mean   2014.50000   9.000000
std       3.02765   8.679478
min    2010.00000   0.000000
25%    2012.25000   5.250000
50%    2014.50000   7.500000
75%    2016.75000   9.750000
max    2019.00000  32.000000